<div class="widget-wrap">
<h3 class="widget-title">友情链接</h3>
<div class="widget">
	<ul class="entry">
		<li><a href="http://www.58.com/" title="神奇的网站">神奇的网站:58同城</a></li>
		<li><a href="http://www.sanhao.com/" title="让教育回归家庭">让教育回归家庭:三好网</a></li>
	</ul>
</div>
</div>
